@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins.ttf");
}

@font-face {
  font-family: "VAGRounded";
  src: url("./assets/fonts/VAGRounded.otf");
}
